body{
    margin: 0px;
    background-image: url(../assets/img/chem1.png);
    background-repeat: repeat;    
    font-family: 'Roboto Mono', monospace;
}

*{
    box-sizing: border-box;
}

section{
    width: 90%;
    margin: auto;
}

#parrafo{
    display: block;
    overflow-y: scroll;
    width: 100%;
    margin: 0px !important;
    padding: 0px !important;
    max-height: 190px;
}

#titulo{
    min-height: 6vh;
    width: 16rem;
}

#tablaPeriodica1{
    margin-top: 4rem;
    display: grid;
    grid-template-rows: repeat(7, 1fr);
    grid-template-columns: repeat(18, 1fr);
    gap: .1rem;
} 

#tablaPeriodica1 div{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#descripcion{
    grid-row: 1/4;
    grid-column: 3/13;    
}

#tablaPadre2{
    width: 78.5%;
    margin: auto;
    margin-top: 4rem;
    border: 4px solid goldenrod;
    border-radius: 10px;
}


#tablaPeriodica2{
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: repeat(14, 1fr);
    gap: .1rem;
    margin: .5rem;
}

#tablaPeriodica2 div{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

section h3,p{
    text-align: center;
    padding: .2rem 0px;
}

section h3{
    margin: 0px;
    padding-top: 1rem;
}

section p{
    margin-bottom: 0px;
    color: white;
    max-height: 23vh;        
}

#tablaPeriodica1>div[class]{
    border: 2px solid goldenrod;
    border-radius: 5px;
}

#tablaPeriodica2>div{
    border: 2px solid goldenrod;
    border-radius: 5px;
}

#hidrogeno{
    background-color: #a3c7d2;
}

#hidrogeno>p{
    background-color: #3d697c;
}

.c1{
    background-color: #ebbfd8;
}

.c1>p{
    background-color: #910048;
}

.c2{
    background-color: #fbc9e5;
}

.c2>p{
    background-color: #e31c79;
}

.intermedios{
    background-color: #5bc2e7;
}

.intermedios>p{
    background-color: #166fb9;
}

.f1{
    background-color: #bfeaec;
}

.f1>p{
    background-color: #008c95;
}

.f2{
    background-color: #a2d34d;
}

.f2>p{
    background-color: #458a05;
}

.c3{
    background-color: #cedc00;
}

.c3>p{
    background-color: #537300;
}

.c4{
    background-color: #d1a2cb;
}

.c4>p{
    background-color: #833177;
}

.c5{
    background-color: #b5b9ba;
}

.c5>p{
    background-color: #505759;
}

.c6{
    background-color: #f0b323;
}

.c6>p{
    background-color: #b72a00;
}

.c7{
    background-color: #eab37f;
}

.c7>p{
    background-color: #be4d00;
}

.c8{
    background-color: #eada24;
}

.c8>p{
    background-color: #9d6d00;
}

h1{
   color: black; 
   display: inline-block;
   width: 25%;
   text-align: center;
   margin-top: 2.3rem;
   background-color: #FFFFFFBF;
   border: 2px solid goldenrod;
   padding: 0.5rem 0px;
   border-radius: 5px;
}

#descripcion{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

#descripcion p{
    color: black;
    font-size: 1.2rem;
    text-align: left;
    padding: 0.8rem 0.4rem;
    border: 2px solid goldenrod;
    border-radius: 5px;
    margin: .5rem .5rem;
    background-color: #FFFFFFBF;
}

@media (max-width: 1500px){
    section{
        width: 99%
    }
}

